hero header {
text-align:center;
margin-top : 100px;
font-size: 800;
font-family: 'Times New Roman', Times, serif;

}

dark.hero-header{
    color:blueviolet
    

}




background-image

color::
margin:
padding:
background-color:
background-color:
text-align